astroid==1.4.8
beautifulsoup4==4.5.1
bs4==0.0.1
certifi==2016.9.26
colorama==0.3.7
cycler==0.10.0
defusedxml==0.4.1
future==0.16.0
inflect==0.2.5
inflection==0.3.1
isort==4.2.5
jaraco.itertools==2.0
lazy-object-proxy==1.2.2
matplotlib==1.5.3
mccabe==0.5.2
more-itertools==2.3
nltk==3.4.5
numpy==1.11.2
pandas==0.19.1
playsound==1.2.1
pocketsphinx==0.1.3
PyAudio==0.2.9
pygame==1.9.2
pyglet==1.2.4
pylint==1.6.4
PyLyrics==1.1.0
pyparsing==2.1.10
python-dateutil==2.6.0
python-telegram-bot==5.2.0
python-vlc==1.1.2
pyttsx==1.1
pytz==2016.7
pywapi==0.3.8
quandl==3.0.1
requests==2.12.1
scikit-learn==0.18.1
selenium==3.0.2
six==1.10.0
sklearn==0.0
SOAPpy==0.12.22
SpeechRecognition==3.5.0
twx.botapi==3.1.1
urllib3==1.19.1
virtualenv==15.1.0
Werkzeug==0.11.15
wit==4.2.0
wolframalpha==3.0
wrapt==1.10.8
wstools==0.4.5
xmltodict==0.10.2
youtube-dl==2017.2.1
